__pycache__
.ipynb_checkpoints
.DS_Store
*.ipynb
Icon?
!image/icon

# How to generate this docs
# Source of docs
src/*.xlsx
src/*.csv
# Generate markdown pages from source files (*.xlsx, *.csv)
src/generate_pages.py
# Generated 'content' (markdown pages) for pelican
pelican/content/*

# Pelican
pelican/*-modified